// INIT FONTS
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

// IMPORTS
@import "fonts";
@import "normalize";

// VARS
$ff: "Inter", sans-serif;
$fw: 400;

$h1_fs: 70px;
$h2_fs: 48px;

$p_fs: 16px;
$p_lh: 150%;

$black: #000;
$soft-grey: #9F9F9F;
$dark-grey: #505050;
$white: #FFFFFF;
$soft-white: #F9F9F9;
$blue: #3EAEED;
$green: #38A944;
$skin: #CAB896;


$main_container: 1380px;
// ANIMATIONS
// TEMPLATES
// MIXINS

//! MAIN STYLE
*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

*::selection {
    background-color: $black;
    color: $white;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

video {
    object-fit: cover;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $ff;
    color: $black;
    background-color: $soft-white;
    font-weight: $fw;
    line-height: $p_lh;
    font-size: $p_fs;

    &.stop-scroll {
        overflow: hidden;
    }
}

a {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    line-height: normal;
    transition: all .5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $ff;
    padding: 0;
    margin: 0;
    line-height: normal;
    font-weight: $fw;
}

h1 {
    font-size: $h1_fs;
}

h2 {
    font-size: $h2_fs;
}

.title-1 {
    text-transform: uppercase;
}

.title-2 {
    text-transform: uppercase;
}

.title-3 {
    font-size: 36px;
    text-transform: uppercase;
}

.title-4 {
    font-size: 24px;
    text-transform: uppercase;
}

p {
    padding: 0;
    margin: 0;
}

section, header, footer, main {
    width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main-container {
    max-width: calc(100% - 60px);
    margin: 0 auto;
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    gap: 30px;
}

.hover_underline {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    transition: transform 1s, color 0.5s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transform: translate3d(0, 0, 0);

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform: scaleX(0);
        transform-origin: top left;
        transition: transform 0.3s ease;
    }
    &:hover::before {
        transform: scaleX(1);
    }
}

.col-1  { grid-area: auto / span 1;   } .col-2  { grid-area: auto / span 2;   }
.col-3  { grid-area: auto / span 3;   } .col-4  { grid-area: auto / span 4;   }
.col-5  { grid-area: auto / span 5;   } .col-6  { grid-area: auto / span 6;   }
.col-7  { grid-area: auto / span 7;   } .col-8  { grid-area: auto / span 8;   }
.col-9  { grid-area: auto / span 9;   } .col-10 { grid-area: auto / span 10;  }  
.col-11 { grid-area: auto / span 11; } .col-12 { grid-area:  auto / span 12;  }

.start-col-1  { grid-column-start: 1;  } .start-col-2  { grid-column-start: 2;  }
.start-col-3  { grid-column-start: 3;  } .start-col-4  { grid-column-start: 4;  }
.start-col-5  { grid-column-start: 5;  } .start-col-6  { grid-column-start: 6;  }
.start-col-7  { grid-column-start: 7;  } .start-col-8  { grid-column-start: 8;  }
.start-col-9  { grid-column-start: 9;  } .start-col-10 { grid-column-start: 10; }  
.start-col-11 { grid-column-start: 11; } .start-col-12 { grid-column-start: 12; }

.end-col-1  { grid-column-end: 1;  } .end-col-2  { grid-column-end: 2;  }
.end-col-3  { grid-column-end: 3;  } .end-col-4  { grid-column-end: 4;  }
.end-col-5  { grid-column-end: 5;  } .end-col-6  { grid-column-end: 6;  }
.end-col-7  { grid-column-end: 7;  } .end-col-8  { grid-column-end: 8;  }
.end-col-9  { grid-column-end: 9;  } .end-col-10 { grid-column-end: 10; }  
.end-col-11 { grid-column-end: 11; } .end-col-12 { grid-column-end: 12; }

.start-row-1  { grid-row-start: 1;  } .start-row-2  { grid-row-start: 2;  }
.start-row-3  { grid-row-start: 3;  } .start-row-4  { grid-row-start: 4;  }
.start-row-5  { grid-row-start: 5;  } .start-row-6  { grid-row-start: 6;  }
.start-row-7  { grid-row-start: 7;  } .start-row-8  { grid-row-start: 8;  }
.start-row-9  { grid-row-start: 9;  } .start-row-10 { grid-row-start: 10; }  
.start-row-11 { grid-row-start: 11; } .start-row-12 { grid-row-start: 12; }

.end-row-1  { grid-row-end: 1;  } .end-row-2  { grid-row-end: 2;  }
.end-row-3  { grid-row-end: 3;  } .end-row-4  { grid-row-end: 4;  }
.end-row-5  { grid-row-end: 5;  } .end-row-6  { grid-row-end: 6;  }
.end-row-7  { grid-row-end: 7;  } .end-row-8  { grid-row-end: 8;  }
.end-row-9  { grid-row-end: 9;  } .end-row-10 { grid-row-end: 10; }  
.end-row-11 { grid-row-end: 11; } .end-row-12 { grid-row-end: 12; }

.btn-wi {
    display: flex;
    align-items: center;
    transition: all .5s ease;

    .btn-wi__icon {
        margin-left: 20px;
        transition: all .5s ease;
    }
    &:hover .btn-wi__icon {
        transform: translateY(-5px);
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: $white;
    background-color: $black;
    border-radius: 50px;
    transition: all .5s ease;
    border: 1px solid $black;
    font-size: 16px;
    
    &:hover {
        background: transparent;
        color: $black;
    }
}

.list {
    grid-area: 1/5/1/span 12;

    .list__item {
        margin-bottom: 55px;
        transition: all .5s ease;
        position: relative;
        cursor: pointer;

        &::after {
            content: "";
            display: block;
            width: 100%;
            margin-top: 35px;
            height: .5px;
            background-color: $black;
        }
        &::before {
            content: "";
            position: absolute;
            background-color: $black;
            transition: all .5s ease;
            bottom: 0; left: 0; right: 0; 
            height: 0; width: 100%;
            z-index: 2;
        }
        
        .item__wrap {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            z-index: 3;
            transition: all .5s ease;
            padding: 0 10px;
            padding-top: 20px;
        
            .info {
                display: flex;
                align-items: flex-start;
                width: 90%;

                .list__subtitle {
                    margin-right: 35px;
                    color: $soft-grey;
                } 
            }
            .list__icon {
                width: 32px;
                height: 32px;
                
                path {
                    transition: all .5s ease;
                }
            }
        }


        &:hover {
            .item__wrap {
                color: $white;

                .list__icon path {
                    stroke: $white;
                }
            }

            &::before {
                height: 100%;
            }
        }
    }
}

.cursor {
    position: fixed;
    border-radius: 100%;
    transition: .3s ease transform, .3s ease opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;

    width: 100px;
    height: 100px;
    background-color: #fff;
    opacity: 0;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 27px 13px;

    .cursor__title {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
}

.drag-hover {
    cursor: grab;
}

.page-title {
    padding-top: 190px;
    padding-bottom: 100px;

    .bread-crumbs {
        text-transform: uppercase;
        color: $soft-grey;
        margin-bottom: 15px;

        .parent-crumb {
            color: $soft-grey;
            display: inline-flex;

            &:hover {
                color: $black;
            }
        }
        .current-crumb {
            color: $black;
        }
    }
}

//? BURGER
.burger-menu__btn {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .line {
        height: 2px;
        width: 100%;
        background-color: $black;
        border-radius: 2px;
        transition: all .5s ease-in-out;

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
    .line-1 {
        width: 100%;
        transform-origin: right center;
    }
    .line-2 {
        width: 80%;
    }
    .line-3 {
        width: 50%;
        transform-origin: right center;
    }

    &.active {
        .line-2 {
            opacity: 0;
        }
        .line-1 {
            width: 100%;
            transform: rotate(-45deg);
        }
        .line-3 {
            width: 100%;
            transform: rotate(-45deg) translateY(-20px);
        }
    }
}

//? HEADER
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 15px 0;
    transition: all .2s ease-out;
    transform: translateY(-100%);
    background-color: $soft-white;

    .header__wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-link {
            position: relative;
            width: 123px;
            height: 42px;

            picture {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                transition: all .5s ease;
            }
        }
        .nav {
            .nav__wrap {
                display: flex;
                align-items: center;
                position: relative;

                .nav__item {
                    display: flex;
                }
                .langs-mobile {
                    display: none;
                }
                .nav__item:not(:first-child) {
                    margin-left: 50px;
                }
                .nav__link {
                    text-transform: uppercase;
                    color: $soft-grey;
                    transition: all .5s ease;

                    &:hover {
                        color: $black;
                    }
                }
                .nav__link.lang {
                    display: flex;
                    align-items: center;

                    .drop-down__icon {
                        margin-left: 5px;
                    }
                    .drop-down__icon path {
                        transition: all .5s ease;
                        fill: $soft-grey;
                    }
                    &:hover .drop-down__icon path {
                        fill: $black;
                    }
                }
                .drop-down {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .drop-down__options {
                        transition: all .5s ease;
                        height: 0;
                        position: absolute;
                        background-color: $black;
                        width: 15%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        top: 150%;
                        padding: 0;
                        overflow: hidden;
                        border-radius: 20px;

                        .lang-country {
                            margin-right: 15px;
                        }
                        .option {
                            display: flex;
                            align-items: center;

                            &:not(:last-child) {
                                margin-bottom: 10px;
                            }
                            .drop-down__link {
                                transition: all .5s ease;
                                color: $white;
                                text-transform: uppercase;
                                text-align: right;
                                font-size: 18px;
                                color: $soft-grey;

                                &:hover {
                                    color: $white;
                                }
                            }
                        }
                    }
                    &:hover .drop-down__options {
                        height: 100px;
                        padding: 15px;
                    }
                }
            }
        }
    }
    &.static {
        transform: translateY(0);
        transition: all .2s ease-in-out;
    }
    &.fixed {
        transform: translateY(0);
        transition: all .5s ease-in-out;
    }
}

//! HOME
//? HERO
.hero {
    padding-top: 210px;
    padding-bottom: 150px;

    .title-1 {
        max-width: 1300px;
        margin-bottom: 100px;
        text-transform: uppercase;
    }
    .hero__works {
    
        .works__card {
            .cover-img {
                height: 472px;
                margin-bottom: 30px;
            }
            .works__info {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .works__title {
                    font-size: 18px;
                }
                .works__date {
                    text-align: right;
                    font-size: 18px;
                    color: $soft-grey;
                }
            }
        }
    }
}

//? ABOUT US
.about-us {
    padding-bottom: 150px;

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 24px;
        grid-area: 1/5/1/span 6;
        
        .desc {
            margin-bottom: 33px;
        }
        .deadlines {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
            margin-bottom: 30px;

            .deadlines_value {
                width: max-content;
            }
            .deadlines__link .deadlines_title {
                text-transform: uppercase;
                color: $soft-grey;
                margin-right: 10px;

                .btn-wi__icon {
                    height: 11px;
                    width: 11px;
                }
            }
        }
    }
}

//? ABOUT VIDEO
.about-media {
    padding-bottom: 150px;

    .about-media_container {
        margin: 0 auto;
        max-width: calc(100% - 60px);
    }
    .about-media__wrap {
        height: 690px;
        width: 100%;
    }
}

//? NEWS
.news {
    padding-bottom: 150px;
    .news-list {
        padding-top: 4px;
    }
}

//? WORK SLIDER
.work-slider {
    padding-bottom: 50px;

    .slider-container {
        margin: 0 auto;
        max-width: calc(100% - 60px);
    }
    .work__slider {
        width: 100%;

        .splide__list {
            align-items: center;
        }
        .splide__slide {
            height: 522px;
            width: 440px;

            &:nth-child(even) {
                height: 408px;
            }   
        }
    }
}

//? FOOTER
.footer {
    padding-top: 50px;
    padding-bottom: 50px;

    .footer__wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        .logo-link {
            grid-column-start: 1;
            grid-row-start: 1;
            justify-self: flex-start;
        }
        .copyright {
            grid-column-start: 2;
            grid-row-start: 1;
            justify-self: center;
        }
        .social__wrap {
            grid-column-start: 3;
            grid-row-start: 1;
            justify-self: flex-end;
        }
    }
    .copyright {
        color: $soft-grey;
        text-align: center;

        .hyper {
            color: $black;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .social__wrap {
        display: flex;
        align-items: center;
        
        .social__link {
            transition: all .5s ease;
        }
        .social__link:hover {
            transform: translateY(-5px);
        }
        .social__link:not(:last-child) {
            margin-right: 23px;
        }
    }
}

//! PORTFOLIO
//? WORKS
.works {
    padding-bottom: 50px;

    .works__list {
        .list__item {
            &::after {
                content: "";
                display: block;
                height: .5px;
                width: 100%;
                background-color: $black;
                margin-top: 30px;
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }

            .item__wrap {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10%;

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
    
                    .title-3 {
                        margin-bottom: 30px;
                    }
                    .status {
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;
                        
                        .status__icon {
                            width: 13px;
                            height: 13px;
                            border-radius: 100%;
                            margin-right: 10px;
    
                            &.started {
                                background-color: $green;
                            }
                            &.done {
                                background-color: $skin;
                            }
                            &.in-process {
                                background-color: $blue;
                            }
                        }
                        .status__title {
                            color: $soft-grey;
                            text-transform: uppercase;
                        }
                    }
                    .desc {
                        margin-bottom: 60px;
                    }
                }
                .cover-img {
                    height: 472px;
                }
            }
        }
    }
}

//! CASE
//? CASE INFO
.case-info {
    padding-bottom: 100px;

    .case-info__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 264px;
    }
}

.case-info__list {
    .list__item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .item__title {
            color: $soft-grey;
            text-transform: uppercase;
        }
        .item__value {
            text-align: right;
        
            .social {
                display: flex;
                align-items: center;

                .social__link {
                    height: 20px;
                    width: 20px;
                }
                .social__link:not(:last-child) {
                    margin-right: 10px;
                }
            }
            &.location {
                text-decoration: underline;
            }
        }
    }
}

//? CASE HERO
.case-hero {
    padding-bottom: 92px;

    .cover-img {
        width: 100%;
        height: 670px;
    }
    .img-1 {
        margin-bottom: 70px;
    }
    .desc {
        margin: 0 auto;
        text-align: center;
        max-width: 969px;
        margin-bottom: 70px;
        font-size: 24px;
        line-height: 150%;
    }
    .img__wrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

//? CASE DESIGNS
.case-designs {
    padding-bottom: 90px;

    .designs__title {
        margin-bottom: 90px;

        .title-3 {
            width: 100%;
            margin-bottom: 30px;

            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-color: $black;
                margin-top: 30px;
            }
        }
        .subtitle__wrap {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }
    .designs__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        .gallery__item {
            height: 670px;
        }
    }
}

//? CASE NEXT
.next-case {
    padding-bottom: 55px;

    .next-case__wrap {
        display: flex;
        align-items: flex-end;

        .next-case__link {
            margin-right: 102px;
            font-size: 48px;
            text-transform: uppercase;
        }
        .next-case__name {
            color: $soft-grey;
        }
    }
}

//? CASE MAP
.case-map {
    padding-bottom: 100px;
}

.map__wrap {
    width: 100%;
    height: 486px;
}

//! ABOUT
//? ABOUT COVER
.about-cover {
    padding-bottom: 100px;

    .cover__wrap {
        background-color: $black;
        width: 100%;
        height: 486px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            width: 640px;
        }
    }
}

//? ABOUT CONTENT
.about-content {
    padding-bottom: 100px;

    .about-content__container {
        margin: 0 auto;
        max-width: calc(100% - 530px);
    }
    .desc {
        width: 100%;
        margin-bottom: 100px;
    
    }
    .stats__list {
        justify-self: center;
        margin-bottom: 94px;
    }
    .stats__list .list__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 30px;

        .value {
            font-size: 48px;
            line-height: normal;
            text-transform: uppercase;
        }
        .title {
            justify-self: flex-start;
            color: $soft-grey;
            text-transform: uppercase;
        }
    }
    .banner {
        width: 100%;
        border-top: .5px solid $black;
        border-bottom: .5px solid $black;
        padding: 50px 0;
        margin-bottom: 100px;
    }
    .text__wrap {
        .question {
            margin-bottom: 50px;
        }
        .desc {
            width: 100%;
            margin-bottom: 0;
        }
    }

}

//? ABOUT IMAGES
.about-images {
    padding-bottom: 55px;

    .img__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        .cover-img {
            height: 670px;
        }
    }
}

//! INVEST
//? INVEST CONTENT
.invest-content {
    padding-bottom: 60px;
}

.product-card {
    width: 100%;

    .title-2 {
        margin-bottom: 68px;
    }
    .case-card__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .case-card {
            &:not(:last-child) {
                margin-right: 30px;
            }
            .cover-img {
                margin-bottom: 48px;
                height: 300px;
            }
            .card__info {
                display: grid;
                grid-template-rows: repeat(3, auto);
                
                .card__title {
                    margin-bottom: 41px;
                }
                .case-info__list {
                    margin-bottom: 55px;
                }
                .btn {
                    justify-self: flex-start;
                }
            }
        }
    }
}

//! REAL TIME
//? REAL TIME VIDEOS
.real-time {
    padding-bottom: 55px;

    .real-time__video {
        width: 100%;
        height: 670px;
        margin-bottom: 30px;
    }
}

//! CONTACT US
.contacts {
    padding-bottom: 111px;

    .contacts__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;

        .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .list__item {
                margin-bottom: 40px;

                .contact__title {
                    color: $soft-grey;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                .contact__value {
                    font-size: 36px;
                    line-height: normal;
                    text-transform: uppercase;
                }
                .social__wrap {
                    display: flex;
                    align-items: center;

                    .social__link:hover {
                        transform: translateY(-5px);
                    }
                    .social__link:not(:last-child) {
                        margin-right: 27px;
                    }
                    img {
                        height: 60px;
                        width: 60px;
                    }
                }
            }
        }
        .logo__wrap {
            justify-self: center;
        }
    }
}

//? CONTACT FORM
.contact-form {
    padding-bottom: 120px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .fields_wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 30px;
        width: 100%;

        ._first-name-wrap {
            grid-area: 1 / 1 / 1 / span 1;
        }
        ._last-name-wrap {
            grid-area: 2 / 1 / 2 / span 1;
        }
        ._email-wrap {
            grid-area: 1 / 2 / 1 / span 1;
        }
        ._tel-wrap {
            grid-area: 2 / 2 / 2 / span 1;
        }
        ._purpose-wrap {
            grid-area: 3 / 1 / 3 / span 2;
        }

        .input-wrap {

            .field {
                padding: 15px 0;
                width: 100%;
                border: none;
                border-bottom: .5px solid $black;
                background: transparent;
            
                &::placeholder {
                    text-transform: uppercase;
                    color: $soft-grey;
                }
                &._error {
                    border-bottom-color: red;
                }
                &._error::placeholder {
                    color: red;
                }
            }
        }
    }
}



//! MDEIA REQUESTS
@media screen and (min-width: 1920px) {
    .main-container {
        max-width: 1380px;
    }
}
@media screen and (max-width: 1110px) {
    .hero {
        padding-top: 159px;
        padding-bottom: 100px;
    }
    .about-us {
        padding-bottom: 100px;
    }
    .about-media {
        padding-bottom: 100px;
    }
    .news {
        padding-bottom: 100px;
    }
    .work-slider {
        padding-bottom: 60px;
    }
    .hero .title-1 {
        font-size: 58px;
        margin-bottom: 60px;
    }
    .hero .hero__works .works__card-1 {
        grid-area: auto/span 12;
        grid-row-start: 1;
    }
    .hero .hero__works .works__card-2 {
        grid-area: auto/span 6;
        grid-row-start: 2;
    }
    .hero .hero__works .works__card-3 {
        grid-area: auto/span 6;
        grid-row-start: 2;
    }
    .hero .hero__works .works__card .cover-img {
        height: 370px;
        margin-bottom: 15px;
    }
    .about-us .about-content {
        grid-area: 1 / 5 / 1 / span 8;
    }
    .about-media .about-media__wrap {
        height: 550px;
    }
    .list .list__item .item__wrap .info {
        flex-direction: column;

        .list__subtitle {
            margin-bottom: 10px;
        }
    }
    .list .list__item .item__wrap {
        align-items: center;
    }
    .works .works__list .list__item .item__wrap .cover-img {
        height: 400px;
    }
    .case-info .case-info__wrap {
        gap: 30px;
    }
    .about-content .about-content__container {
        max-width: calc(100% - 60px);
    }
    .product-card .case-card__wrap .case-card .card__info .card__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 920px) {
    .about-us .about-content .deadlines {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
    }
    .works .works__list .list__item .item__wrap {
        gap: 5%;
    }
    .about-images .img__wrap .cover-img {
        height: 400px;
    }
}

@media screen and (max-width: 840px) {
    .product-card .case-card__wrap .case-card .cover-img {
        height: 194px;
    }
    .product-card .case-card__wrap .case-card .card__info .card__title {
        font-size: 24px;
    }
    .product-card .case-card__wrap .case-card .card__info .case-info__list {
        font-size: 13px;
    }
    .product-card .case-card__wrap .case-card:not(:last-child) {
        margin-right: 20px;
    }
    .real-time .real-time__video {
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .header .header__wrap .nav .nav__wrap .nav__item:not(:first-child) {
        margin-left: 20px;
    }
    .hero .hero__works .works__card .works__info .works__title,
    .hero .hero__works .works__card .works__info .works__date {
        font-size: 16px;
    }
    .title-2 {
        font-size: 36px;    
    }
    .about-us .title-2 {
        grid-area: 1/auto/1/span 4;
    }
    .list .list__item .item__wrap .list__icon {
        height: 20px;
        width: 20px;
    }
    .footer .logo-link {
        width: 100px;
    }
    .footer .social__wrap .social__link {
        width: 30px;
    }
    .footer .social__wrap .social__link:not(:last-child) {
        margin-right: 15px;
    }
    .about-us .about-content {
        padding-top: 17px;
    }
    .news .title-2 {
        grid-area: 1/auto/1/span 4;
    }
    .works .works__list .list__item .item__wrap .cover-img {
        height: 300px;
    }
    .works .works__list .list__item .item__wrap .info .title-3 {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .works .works__list .list__item .item__wrap .info .status {
        margin-bottom: 24px;
    }
    .works .works__list .list__item .item__wrap .info .desc {
        margin-bottom: 24px;
    }
    .case-info .case-info__wrap {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    
        .top::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $black;
            margin-top: 30px;
            display: block;
        }
    }
    .case-hero .cover-img, .case-designs .designs__gallery .gallery__item {
        height: 343px;
    }
    .case-hero .desc {
        font-size: 18px;
        margin-bottom: 60px;
    }
    .page-title {
        padding-bottom: 60px;
    }
    .case-info {
        padding-bottom: 60px;
    }
    .case-hero .img-1 {
        margin-bottom: 60px;
    }
    .case-hero {
        padding-bottom: 60px;
    }
    .case-designs {
        padding-bottom: 60px;
    }
    .case-map {
        padding-bottom: 70px;
    }
    .next-case {
        padding-bottom: 35px;
    }
    .next-case .next-case__wrap .next-case__link {
        margin-right: 50px;
    }
    .case-designs .designs__title .title-3 {
        font-size: 24px;
    }
    .case-designs .designs__title .title-3::after {
        margin-top: 15px;
    }
    .about-cover .cover__wrap .logo {
        width: 350px;
    }
    .about-cover .cover__wrap {
        height: 343px;
    }
    .about-content .desc,
    .about-content .stats__list,
    .about-content .banner {
        margin-bottom: 50px;
    }
    .about-cover,
    .about-content {
        padding-bottom: 50px;
    }
    .contacts .contacts__wrap {
        justify-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        align-items:initial;
    }

}

@media screen and (max-width: 640px) {
    .btn {
        padding: 10px 30px;
    }
    .hero .title-1 {
        font-size: 40px;
    }

    // burger
    .header nav {
        position: relative;
    }
    .header .header__wrap .nav .nav__wrap .nav__item:not(:first-child) {
        margin-left: 0;
    }
    .header .header__wrap .nav .nav__wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $white;
        position: fixed;
        left: 0;
        top: 100%;
        height: 0;
        width: 100%;
        transition: all .7s cubic-bezier(.4,0,.51,.99);
        overflow: hidden;

        padding: 0;

        .nav__item {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
            flex-direction: column;
        }
        .langs-mobile {
            display: flex;
            flex-direction: row;
            align-self: flex-end;
            margin-top: 20px;

            .nav__link {
                font-size: 18px;
                margin-right: 20px;
            }
        }
        .nav__item:not(.langs-mobile):after {
            display: block;
            content: "";
            display: block;
            height: .5px;
            width: 100%;
            margin-top: 10px;
            background-color: $black;
        }
        .nav__link {
            color: $black;
            font-size: 40px;
        }
        &.active {
            padding: 30px;
            height: 100vh;
        }

        .drop-down {
            display: none;
        }
    }
    .burger-menu__btn {
        display: flex;
    }
    .header .header__wrap .logo-link {
        width: 135px;
    }
    .hero {
        padding-top: 130px;
    }
    .hero .hero__works .works__card-2,
    .hero .hero__works .works__card-3 {
        grid-area: auto/span 12;
    }
    .about-us .grid-12 {
        display: block;
    }
    .about-media .about-media_container {
        max-width: 100%;

        .about-media__wrap {
            height: 284px;
        }
    }
    .news .grid-12 {
        display: block;
    }
    .work-slider .slider-container {
        max-width: 100%;
    }
    .footer .footer__wrap {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        justify-self: center;
        align-items: center;
        justify-content: center;

        .logo-link {
            grid-row-start: 1;
            grid-column-start: 1;
            justify-self: center;
        }
        .copyright {
            grid-row-start: 3;
            grid-column-start: 1;
            justify-self: center;
        }
        .social__wrap {
            grid-row-start: 2;
            grid-column-start: 1;
            justify-self: center;
        }

        .logo-link {
            width: 135px;
        }
        .social__link {
            width: 40px;
        }
    }
    .work-slider .work__slider .splide__slide {
        height: 385px;
        width: 340px;
    
        &:nth-child(even) {
            height: 385px;
        }
    }
    .works .works__list .list__item .item__wrap {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        gap: 20px;
    }
    .works .works__list .list__item .item__wrap .info {
        grid-row-start: 2;
    }
    .works .works__list .list__item .item__wrap .cover-img {
        grid-row-start: 1;
    }
    .page-title {
        padding-top: 145px;
        padding-bottom: 60px;
    }
    .next-case .next-case__wrap .next-case__link {
        font-size: 30px;
    }
    .about-images .img__wrap .cover-img {
        height: 312px;
    }
    .about-content .stats__list .list__item {
        grid-template-columns: none;
        gap: 0;
    }
    .about-content .stats__list .list__item .title {
        align-self: flex-start;
    }
    .about-content .text__wrap .question br {
        display: none;
    }
    .about-images .img__wrap .cover-img {
        grid-area: auto/span 2;
    }
    .product-card .case-card__wrap {
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .case-card {
            margin-bottom: 50px;
            margin-right: 0;

            .cover-img {
                width: 100%;
                height: 200px;
                margin-bottom: 20px;
            }
        }
    }
    .product-card .case-card__wrap .case-card .card__info .card__title {
        margin-bottom: 20px;
    }
    .product-card .case-card__wrap .case-card .card__info .case-info__list {
        margin-bottom: 30px;
    }
    .real-time .real-time__video {
        margin-bottom: 20px;
        height: 400px;
    }
    .page-title .title-1 {
        font-size: 50px;
    }
    .contacts .contacts__wrap .logo__wrap .logo {
        width: 250px;
    }
    
}

@media screen and (max-width: 480px) {
    .cursor {
        display: none;
    }
    .main-container {
        max-width: calc(100% - 30px);
    }
    .grid-12 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 20px;
    }
    .hero .title-1 {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .hero .hero__works .works__card .cover-img {
        height: 313px;
    }
    .hero {
        padding-bottom: 50px;
    }
    .about-us {
        padding-bottom: 50px;
    }
    .about-media {
        padding-bottom: 50px;
    }
    .news {
        padding-bottom: 50px;
    }
    .work-slider {
        padding-bottom: 50px;
    }
    .header .header__wrap .nav .nav__wrap .nav__link {
        font-size: 30px;
    }
    .header .header__wrap .nav .nav__wrap.active {
        padding: 15px;
        padding-top: 30px;
    }
    .work-slider .work__slider .splide__slide {
        height: 285px;
        width: 240px;
    
        &:nth-child(even) {
            height: 285px;
        }
    }
    .list .list__item::after {
        margin-top: 20px;
    }
    .page-title .title-1 {
        font-size: 36px;
    }
    .works .works__list .list__item .item__wrap .cover-img {
        height: 224px;
    }
    .page-title {
        padding-bottom: 30px;
    }
    .case-info {
        padding-bottom: 30px;
    }
    .case-hero .img-1 {
        margin-bottom: 30px;
    }
    .case-hero {
        padding-bottom: 30px;
    }
    .case-designs {
        padding-bottom: 30px;
    }
    .case-map {
        padding-bottom: 30px;
    }
    .next-case {
        padding-bottom: 35px;
    }
    .case-hero .desc {
        font-size: 14px;
    }
    .case-hero .desc {
        margin-bottom: 30px;
    }
    .case-hero .cover-img, .case-designs .designs__gallery .gallery__item {
        height: 155px;
    }
    .case-hero .img__wrap, .case-designs .designs__gallery {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .case-designs .designs__title .subtitle__wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .case-designs .designs__title, .case-designs .designs__title .title-3 {
        margin-bottom: 20px;
    }
    .map__wrap {
        height: 250px;
    }
    .next-case .next-case__wrap .next-case__link {
        font-size: 20px;
    }
    .next-case .next-case__wrap {
        justify-content: space-between;
    }
    .next-case .next-case__wrap .next-case__link {
        margin-right: 0;
    }
    .case-info .case-info__wrap,
    .next-case .next-case__wrap .next-case__name {
        font-size: 12px;
    }
    .about-cover .cover__wrap {
        height: 180px;
    }
    .about-cover .cover__wrap .logo {
        width: 148px;
    }
    .about-content .stats__list .list__item .value {
        font-size: 36px;
    }
    .about-content .banner {
        padding: 30px 0;
    }
    .about-content__container {
        max-width: calc(100% - 30px);
    }
    .about-content .stats__list .list__item .value {
        margin-bottom: 10px;
    }
    .title-2 {
        font-size: 30px;
    }
    .about-content .text__wrap .question {
        margin-bottom: 30px;
    }
    .about-images .img__wrap .cover-img {
        height: 160px;
    }
    .real-time .real-time__video {
        margin-bottom: 20px;
        height: 284px;
    }
    .contacts .contacts__wrap .info .list__item .contact__value {
        font-size: 24px;
    }
    .contacts .contacts__wrap .info .list__item .social__wrap img {
        height: 60px;
        width: 60px;
    }
    .feedback__form {
        .fields_wrap {
            grid-template-columns: none;

            ._first-name-wrap {
                grid-area: auto;
            }
            ._last-name-wrap {
                grid-area: auto;
            }
            ._email-wrap {
                grid-area: auto;
            }
            ._tel-wrap {
                grid-area: auto;
            }
            ._purpose-wrap {
                grid-area: auto;
            }
        }
    }

}